#profile img{
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 50px;
    padding: 25px;
    

}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;


}
#profile{
    
    background-color: chocolate;
    width: 350px;
    height: 550px;
    border-radius: 20px;
    padding-left: 50px;
    border-style: solid;


}
#profile ul{
    list-style-type: none;
}
button{
    display:flex;
    padding-left: 5px;
    margin-left: 90px;
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
    



}

